<% include ./partials/header %>
<div class="container-fluid gradient">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 mt-5 text-center">
            <div>
             <img src="/img/meteo.png"> <img src="/img/myweather.png">    
             <h1 class="h1-style mt-5">:( - CITY NOT FOUND</h1>
             <p class="mt-3">
                 <a href="/" class="btn btn-outline-dark">Please go back </a>
             </p>
            </div>
        </div>
    </div>

</div>
<% include ./partials/footer %>